<%- include("../partials/header") %>

<header class="jumbotron">
	<div calss="container">
		<h1>Welcome to YourCamp</h1>
		<p>View our hand-picked campgrounds from all over the world</p>
		<a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new campground</a>
	</div>	
</header>


<div class="row text-center" style="display:flex; flex-wrap; wrap;">
	<% campgrounds.forEach(function(campground){ %>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="<%= campground.image %>">
			</div>
			<div class="caption">
				<h4><%= campground.name %></h4>
			</div>
			<p>
				<a class="btn btn-info" href="/campgrounds/<%= campground._id%>">More info</a>
			</p>
		</div>
	<% }) %>
</div>

<%- include("../partials/footer") %>